discord
asyncio
python-dotenv
psycopg2-binary
google-generativeai==0.3.2
vosk
sounddevice
numpy
gtts
ffmpeg
SpeechRecognition
pydub
ffmpeg
sounddevice==0.4.6
gTTS==2.5.1
psycopg2-binary==2.9.9
requests==2.32.3
